*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store
# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
# Allow JS files in the specific directory
!cdk/resources/docker-images/hana-load-injector/hanadbdataload/**/*.js